<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
    	body{
    		padding-top:60px;
    		padding-bottom: 40px;
    	}
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</a>
	      	<a class="brand" href="/">Home</a>
	      	<div class="nav-collapse">
				<ul class="nav">
					<% if(!user) { %>
						<li><a href="/reg">Sign Up</a></li>
					<% } else { %>
						<li><a href="/logout">Logout</a></li>
					<% } %>
				</ul> 
			</div>
	    </div>
	  </div>
	</div>

	<div id="container" class="container">
		<% if (success) { %>
			<div class="alert alert-success">
				<%= success %>
			</div>
		<% } %>
		<% if (error) { %>
			<div class="alert alert-error">
				<%= error %>
			</div>
		<% } %>
		
		<% if (!user) { %>
			<div class="hero-unit">
				<h1>Welcome</h1><p>
				<p>
					Login to see Posts !
				</p>
				<p>
			</div>

			<form class="form-horizontal" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="username">User Name</label> 
					<div class="controls">
						<input type="text" class="input-xlarge" id="username" name="username">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label> 
					<div class="controls">
						<input type="password" class="input-xlarge" id="password" name="password"> 
					</div>
 				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Login</button>
        		</div>
        	</fieldset>				
		</form>

		<% } else { %>
			<form method="post" action="/post" class="well form-inline center" style="text-align: center;">
				<input type="text" placeholder="Enter Text Here..." class="span8" name="post">
				<button type="submit" class="btn btn-success">Post</button> 
			</form>
		<% } %>

		<% if (user) { %>
			<% posts.forEach(function(post, index) {
      		if (index % 3 == 0) { %>
        		<div class="row">
    		<%} %>
			<div class="span9">
				<a href="/u/<%= post.user %>"><i>Posted BY : </i><%= post.user %></a>
				<p><i>Content :</i><%= post.post %></p>
				<p><small><i>Timestamp :</i> <%= post.time %></small></p>
				<hr>
  			</div>
			<% if (index % 3 == 2) { %>
    			</div>
			<% } %>
		<%}) %>
		<% if (posts.length % 3 != 0) { %>
  			</div>
		<%} %>
		
		<% } %>
	</div>
  </body>
   <script src="/javascripts/jquery.js"></script>
   <script src="/javascripts/bootstrap.js"></script>
</html>